
<canvas id="canv"></canvas>
<!-- <canvas id="canva"></canvas> -->

<div class="absolute top-0 left-0 w-[100%] h-[70px] bg-black">
  <input type="button" class="text-green-700  m-6 cursor-pointer absolute  top-0 left-0 border border-solid border-2 border-sky-500 bg-gray-400 " (click)="linesclick()" value="Add Lines">
  <input type="button" class="text-green-700  m-6 cursor-pointer absolute  top-0 left-[100px] border border-solid border-2 border-sky-500 bg-gray-400 " (click)="deactivate()" value="Deactivate">
 
</div>
